/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-gb-more-from-widget .more-from-title {
	display: inline-block;
	padding-top: 10px;
}

.wp-block-gb-more-from-widget ul {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}

.wp-block-gb-more-from-widget ul.is-grid {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-gb-more-from-widget ul.is-grid li {
	margin: 0 10px 20px 0;
}

.wp-block-gb-more-from-widget ul.is-grid.columns-2 li {
	width: 48%;
}

.wp-block-gb-more-from-widget ul.is-grid.columns-3 li {
	width: 30%;
}

.wp-block-gb-more-from-widget ul.is-list li {
	padding-bottom: 10px;
}

.wp-block-gb-more-from-widget .post-date {
	color: grey;
	display: block;
	font-size: 14px;
}
